<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>EmployeeDetail</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link th:href="'css/bootstrap.css'" href="../static/css/bootstrap.css"
	rel="stylesheet" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>
/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {
	height: 550px
}

/* Set gray background color and 100% height */
.sidenav {
	background-color: #f1f1f1;
	height: 100%;
}

/* On small screens, set height to 'auto' for the grid */
@media screen and (max-width: 767px) {
	.row.content {
		height: auto;
	}
}
</style>
</head>

<body>


	<nav class="navbar navbar-inverse visible-xs">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#myNavbar">
					<span class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Guave</a>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav">
					<li><a href="/">Dashboard</a></li>
					<li><a href="/project">Projekte</a></li>
					<li><a href="/stakeholder">Stakeholder</a></li>
					<li><a href="/portfolio">Portfolios</a></li>
					<li class="active"><a href="/employee">Mitarbeiter</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container-fluid">
		<div class="row content">
			<div class="col-sm-3 sidenav hidden-xs">
				<h2>Guave</h2>
				<ul class="nav nav-pills nav-stacked">
					<li><a href="/"><span class="glyphicon glyphicon-home"></span>
							Dashboard</a></li>
					<li><a href="/project"><span
							class="glyphicon glyphicon-briefcase"></span> Projekte</a></li>
					<li><a href="/stakeholder"><span
							class="glyphicon glyphicon-eye-open"></span> Stakeholder</a></li>
					<li><a href="/portfolio"><span
							class="glyphicon glyphicon-th"></span> Portfolios</a></li>
					<li class="active"><a href="/employee"><span
							class="glyphicon glyphicon-user"></span> Mitarbeiter</a></li>
				</ul>
				<br>
			</div>
			<br>

			<div class="col-sm-9">
				<div class="well">
					<h3>Neuen Mitarbeiter erfassen</h3>
					<p>
					<form action="#" th:action="${postAction}" method="post"
						th:object="${employeeDetail}">

						<input type="hidden" name="employeeDetail.id" th:value="*{id}" />

						<div class="form-group">
							<label for="name">Name:</label> <input type="text"
								class="form-control" id="name" name="employeeDetail.name"
								th:value="*{name}">
						</div>

						<div class="form-group">
							<label for="vorname">Vorname:</label> <input type="text"
								class="form-control" id="vorname"
								name="employeeDetail.firstname" th:value="*{firstname}">
						</div>

						<div class="form-group">
							<label for="funktion">Funktion:</label> <select
								class="form-control" name="employeeDetail.function"
								th:value="*{function}">
								<option
									th:selected="${employeeDetail.function} == 'Projektleiter'"
									value="Projektleiter">Projektleiter</option>
								<option
									th:selected="${employeeDetail.function} == 'Projektmitarbeiter'"
									value="Projektmitarbeiter">Projektmitarbeiter</option>
								<option
									th:selected="${employeeDetail.function} == 'Fachspezialist'"
									value="Fachspezialist">Fachspezialist</option>
								<option
									th:selected="${employeeDetail.function} == 'IT-Mitarbeiter'"
									value="IT-Mitarbeiter">IT-Mitarbeiter</option>
								<option
									th:selected="${employeeDetail.function} == 'Teilprojektleiter'"
									value="Teilprojektleiter">Teilprojektleiter</option>
								<option
									th:selected="${employeeDetail.function} == 'Qualitätsmanager'"
									value="Qualitätsmanager">Qualitätsmanager</option>
								<option
									th:selected="${employeeDetail.function} == 'Projektausschuss'"
									value="Projektausschuss">Projektausschuss</option>
							</select>
						</div>

						<div class="form-group">
							<label for="salary">Lohn:</label> <select class="form-control"
								name="employeeDetail.salary" th:value="*{salary}">
								<option th:selected="${employeeDetail.salary} == '40000'"
									value="40000">30'000-50'000</option>
								<option th:selected="${employeeDetail.salary} == '60000'"
									value="60000">50'000-70'000</option>
								<option th:selected="${employeeDetail.salary} == '80000'"
									value="80000">70'000-90'000</option>
								<option th:selected="${employeeDetail.salary} == '100000'"
									value="100000">90'000-100'000</option>
								<option th:selected="${employeeDetail.salary} == '120000'"
									value="120000">100'000-120'000</option>
							</select>
						</div>

						<input type="submit" class='btn btn-success'/>

					</form>
					<p></p>
					<a class='btn btn-primary' href="/">Zurück</a>



				</div>

				<div class="row">
					<div class="col-sm-9">
						<div class="well">
							<p>
							<h3>Mitarbeiter-Liste</h3>
							<table class="table">
								<thead>
									<tr>
										<th>Name</th>
										<th>Vorname</th>
										<th>Funktion</th>
										<th>Lohn</th>
									</tr>
								</thead>
								<tr th:each="employee : ${employeelist}">
									<td th:text="${employee.getName()}">Ding 1</td>
									<td th:text="${employee.getFirstname()}">99</td>
									<td th:text="${employee.getFunction()}">Ding 1</td>
									<td th:text="${employee.getSalary()}">99</td>
									<td><a href="" th:href="${'/employee?id=' + employee.getId()}"><i
									class="glyphicon glyphicon-pencil"> </i></a></td>
							<td><a href=""
								th:href="${'/employee/delete?id=' + employee.getId()}"><i
									class="glyphicon glyphicon-trash"> </i></a></td>

								</tr>
							</table>
							</p>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>