<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>ItemDetail</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link th:href="'css/bootstrap.css'" href="../static/css/bootstrap.css"
	rel="stylesheet" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>
/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {
	height: 550px
}

/* Set gray background color and 100% height */
.sidenav {
	background-color: #f1f1f1;
	height: 100%;
}

/* On small screens, set height to 'auto' for the grid */
@media screen and (max-width: 767px) {
	.row.content {
		height: auto;
	}
}
</style>
</head>

<body>


	<nav class="navbar navbar-inverse visible-xs">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#myNavbar">
					<span class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Guave</a>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav">
					<li><a href="/">Dashboard</a></li>
					<li><a href="/project">Projekte</a></li>
					<li><a href="/stakeholder">Stakeholder</a></li>
					<li><a href="/portfolio">Portfolios</a></li>
					<li><a href="/employee">Mitarbeiter</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container-fluid">
		<div class="row content">
			<div class="col-sm-3 sidenav hidden-xs">
				<h2>Guave</h2>
				<ul class="nav nav-pills nav-stacked">
					<li><a href="/">Dashboard</a></li>
					<li><a href="/project">Projekte</a></li>
					<li><a href="/stakeholder">Stakeholder</a></li>
					<li><a href="/portfolio">Portfolios</a></li>
					<li><a href="/employee">Mitarbeiter</a></li>
				</ul>
				<br>
			</div>
			<br>

			<div class="col-sm-9">
				<div class="well">
					<h3>Neues Item erfassen</h3>
					<p>
					<form action="#" th:action="${postAction}" method="post"
						th:object="${itemDetail}">

						<input type="hidden" name="itemDetail.id" th:value="*{id}" /> <br>
						<label>Item:</label> <input type="text" name="itemDetail.name"
							th:value="*{name}" /> <br> <label>Quantity:</label> <input
							type="text" name="itemDetail.quantity" th:value="*{quantity}" /><br>
						<input type="submit" />

					</form>

					<a href="/">Zurück</a>


				</div>

				<div class="row">
					<div class="col-sm-9">
						<div class="well">
							<p>
							<h3>List Manager Item</h3>
							<table class="table">
								<thead>
									<tr>
										<th>Name</th>
										<th>Menge</th>
									</tr>
								</thead>
								<tr th:each="item : ${list}">
									<td th:text="${item.getName()}">Ding 1</td>
									<td th:text="${item.getQuantity()}">99</td>
									<td><a href="" th:href="${'/item?id=' + item.getId()}">bearbeiten</a></td>
									<td><a href=""
										th:href="${'/item/delete?id=' + item.getId()}">löschen</a></td>

								</tr>
							</table>
							</p>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>