<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Dashboard</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link th:href="'css/bootstrap.css'" href="../static/css/bootstrap.css"
	rel="stylesheet" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
	






<style>
/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {
	height: 550px
}

/* Set gray background color and 100% height */
.sidenav {
	background-color: #f1f1f1;
	height: 100%;
}

/* On small screens, set height to 'auto' for the grid */
@media screen and (max-width: 767px) {
	.row.content {
		height: auto;
	}
}
</style>



</head>

<body>


	<nav class="navbar navbar-inverse visible-xs">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#myNavbar">
					<span class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Guave</a>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav">
					<li class="active"><a href="/">Dashboard <span
							class="glyphicon glyphicon-print"></span></a></li>
					<li><a href="/project">Projekte</a></li>
					<li><a href="/stakeholder">Stakeholder</a></li>
					<li><a href="/portfolio">Portfolios</a></li>
					<li><a href="/employee">Mitarbeiter</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container-fluid">
		<div class="row content">
			<div class="col-sm-3 sidenav hidden-xs">
				<h2>Guave</h2>
				<ul class="nav nav-pills nav-stacked">
					<li class="active"><a href="/"><span
							class="glyphicon glyphicon-home"></span> Dashboard</a></li>
					<li><a href="/project"><span
							class="glyphicon glyphicon-briefcase"></span> Projekte</a></li>
					<li><a href="/stakeholder"><span
							class="glyphicon glyphicon-eye-open"></span> Stakeholder</a></li>
					<li><a href="/portfolio"><span
							class="glyphicon glyphicon-th"></span> Portfolios</a></li>
					<li><a href="/employee"><span
							class="glyphicon glyphicon-user"></span> Mitarbeiter</a></li>
				</ul>

			</div>


			<div class="col-sm-9">
				<div class="well">
					<h3>Projekte</h3>
					<p>
					<table id="ProjectTable" class="table">
						<thead>
							<tr>
								<th>ID</th>
								<th>Name</th>
								<th>Aktiv</th>
								<th>Eigentümer</th>
								<th>Budget</th>
								<th>Geplanter Wert</th>
								<th>Aktuelle Kosten</th>
								<th>Methode</th>
								<th>Stakeholder</th>

							</tr>
						</thead>
						<tr th:each="project : ${projectlist}">
							<td th:text="${project.getId()}">ID</td>
							<td th:text="${project.getName()}">Name</td>
							<td th:text="${project.getIsActive()}">IsActice</td>
							<td th:text="${project.getOwner()}">Owner</td>
							<td
								th:text="'CHF ' + ${#numbers.formatDecimal(project.getBudget(), 0, 'DEFAULT', 0, 'DEFAULT')}">Budget</td>
							<td
								th:text="'CHF ' + ${#numbers.formatDecimal(project.getPlannedValue(), 0, 'DEFAULT', 0, 'DEFAULT')}"
								th:classappend="|${project.getBudget()*1.25 > project.getPlannedValue() ? 'text-danger' : ''} 
										 ${project.getBudget() < project.getPlannedValue() ? 'text-success' : ''}|">PlannedValue</td>
							<td
								th:text="'CHF ' + ${#numbers.formatDecimal(project.getActualCosts(), 0, 'DEFAULT', 0, 'DEFAULT')}"
								th:classappend="|${project.getBudget()*0.75 > project.getActualCosts() ? 'text-success' : ''} 
										 ${project.getBudget()*0.75 < project.getActualCosts() ? 'text-warning' : ''} 
										 ${project.getBudget() < project.getActualCosts() ? 'text-danger' : ''}|">
							<td th:text="${project.getMilestone()}">Milestone</td>
							<td th:text="${project.getStakeholderIds()}">Stakeholder</td>
							<td><a href="" th:href="${'/project?id=' + project.getId()}"><i
									class="glyphicon glyphicon-pencil"> </i></a></td>
							<td><a href=""
								th:href="${'/project/delete?id=' + project.getId()}"><i
									class="glyphicon glyphicon-trash"> </i></a></td>

						</tr>
					</table>


				</div>
				<div class="row">
					<div class="col-sm-3">
						<div class="well">
							<h4>Anzahl Projekte:</h4>
							<p>
								<td th:text="${#lists.size(projectlist)}"></td>
							</p>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="well">
							<h4>Anzahl Stakeholder</h4>
							<p>
								<td th:text="${#lists.size(stakeholderlist)}"></td>
							</p>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="well">
							<h4>Anzahl Portfolios</h4>
							<p>
								<td th:text="${#lists.size(portfoliolist)}"></td>
							</p>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="well">
							<h4>Anzahl Mitarbeiter</h4>
							<p>
								<td th:text="${#lists.size(employeelist)}"></td>
							</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<div class="well">
							<p>
							<h4>Auslastung der Mitarbeiter:</h4>
							<div class="progress">
								<div class="progress-bar"
									th:classappend="|${#lists.size(projectlist)/#lists.size(employeelist)} > 0.25 ? 'bg-success' : ''} 
										 ${#lists.size(projectlist)/#lists.size(employeelist)} > 0.5 ? 'bg-warning' : ''} 
										 ${#lists.size(projectlist)/#lists.size(employeelist)} > 0.75 ? 'bg-danger' : ''}|"
									role="progressbar"
									th:aria-valuenow="${#lists.size(projectlist)}"
									aria-valuemin="0"
									th:aria-valuemax="${#lists.size(employeelist)}"
									th:style="@{'width:'+${(#lists.size(projectlist)*100)/#lists.size(employeelist)}+'%;'}">
									<span class="sr-only">30% Complete </span>
								</div>
							</div>

							<p>
							<h4>Auslastung des Unternehmens:</h4>
							<div class="progress">
								<div class="progress-bar"
									th:classappend="${#lists.size(projectlist)} >1 ? 'bg-success' : '-warning'"
									role="progressbar"
									th:aria-valuenow="${#lists.size(projectlist)}"
									aria-valuemin="0" th:aria-valuemax="100"
									th:style="@{'width:'+${#lists.size(projectlist)}+'%;'}">
									<span class="sr-only">30% Complete </span>
								</div>

							</div>
							<h4>Auslastung der Stakeholder:</h4>
							<div class="progress">
								<div class="progress-bar"
									th:classappend="${#lists.size(projectlist)} >1 ? 'bg-success' : '-warning'"
									role="progressbar"
									th:aria-valuenow="${#lists.size(projectlist)}"
									aria-valuemin="0" th:aria-valuemax="100"
									th:style="@{'width:'+${#lists.size(projectlist)*10}+'%;'}">
									<span class="sr-only">30% Complete </span>
								</div>

							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-sm-12">
							<div class="well">
								<h4>Element erfassen:</h4>
								<p>

									<a href="/portfolio"><button type="button"
											class="btn btn-labeled btn-success">
											<span class="btn-label"><i
												class="glyphicon glyphicon-plus"></i></span> Portfolio
										</button></a>
								</p>
								<p>

									<a href="/project"><button type="button"
											class="btn btn-labeled btn-success">
											<span class="btn-label"><i
												class="glyphicon glyphicon-plus"></i></span> Projekt
										</button></a>
								</p>
								<p>

									<a href="/stakeholder"><button type="button"
											class="btn btn-labeled btn-success">
											<span class="btn-label"><i
												class="glyphicon glyphicon-plus"></i></span> Stakeholder
										</button></a>
								</p>
								<p>

									<a href="/employee"><button type="button"
											class="btn btn-labeled btn-success">
											<span class="btn-label"><i
												class="glyphicon glyphicon-plus"></i></span> Mitarbeiter
										</button></a>
								</p>


							</div>







						</div>
					</div>
				</div>





			</div>
		</div>
		</script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>

		
</body>
</html>