<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Portfolio Detail</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link th:href="'css/bootstrap.css'" href="../static/css/bootstrap.css" rel="stylesheet" />
	 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   <style>
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 550px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      background-color: #f1f1f1;
      height: 100%;
    }
        
    /* On small screens, set height to 'auto' for the grid */
    @media screen and (max-width: 767px) {
      .row.content {height: auto;} 
    }
  </style>
</head>

<body>
	

<nav class="navbar navbar-inverse visible-xs">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">Guave</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="/">Dashboard</a></li>
        <li><a href="/project">Projekte</a></li>
        <li><a href="/stakeholder">Stakeholder</a></li>
        <li class="active">><a href="/portfolio">Portfolios</a></li>
        <li><a href="/employee">Mitarbeiter</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-3 sidenav hidden-xs">
      <h2>Guave</h2>
      <ul class="nav nav-pills nav-stacked">
		<li ><a href="/"><span class="glyphicon glyphicon-home"></span> Dashboard</a></li>
        <li><a href="/project"><span class="glyphicon glyphicon-briefcase"></span> Projekte</a></li>
        <li><a href="/stakeholder"><span class="glyphicon glyphicon-eye-open"></span>  Stakeholder</a></li>
        <li class="active"><a href="/portfolio"><span class="glyphicon glyphicon-th"></span>  Portfolios</a></li>
        <li><a href="/employee"><span class="glyphicon glyphicon-user"></span>  Mitarbeiter</a></li>
      </ul><br>
    </div>
    <br>
    
    <div class="col-sm-9">
      <div class="well">
        <h3>Neues Portfolio erfassen</h3>
        <p>
	<form action="#" th:action="${postAction}" method="post" th:object="${portfolioDetail}">
	
		<input type="hidden" name="portfolioDetail.id" th:value="*{id}" />
		
		<div class="form-group">
		   <label for="name">Name:</label>
		   <input type="text" class="form-control" id="name"name="portfolioDetail.name" th:value="*{name}">
		</div>	
		 
		<div class="form-check form-check-inline">
			<input class="form-check-input" type="checkbox" id="active" name="portfolioDetail.isActive" th:checked="${portfolioDetail.isActive}">
			<label class="form-check-label" for="active">Aktiv</label>
		</div>
		 
		 <div class="form-group">
		   <label for="description">Beschreibung:</label>
		   <textarea class="form-control" id="description" rows="3" name="portfolioDetail.description" th:text="*{description}"></textarea>
		</div>
		
		 <div class="form-group">
		    <label>Projekte:</label>
  			<select multiple class="form-control" name="portfolioDetail.projectIds[]">
				<option
					th:each="project : ${projectList}" 
					th:value="${project.id}" 
					th:text="${project.name}"
					th:selected="${portfolioDetail.projectIds.contains(project.id)}"
				></option>
			</select>
			
		    <small class="form-text text-muted">CTRL oder Command gedrückt halten um mehrere auszuwählen</small>
	  	</div>
				
		<input type="submit" class='btn btn-success' />
	
	</form>
	<p></p>
	
	<a class='btn btn-primary' href="/">Zurück</a>
	
	
      </div>
     
      <div class="row">
        <div class="col-sm-9">
          <div class="well">
            <p><h3>Portfolio-Liste</h3>
	<table class="table">
	<thead>
		<tr>
			<th>Name</th>
			<th>Aktiv</th>
			<th>Beschreibung</th>
			<th>Projekte</th>
		</tr>
		</thead>
		<tr th:each="portfolio : ${portfoliolist}">
			<td th:text="${portfolio.getName()}"></td>
			<td th:text="${portfolio.getIsActive()}"></td>
			<td th:text="${portfolio.getDescription()}"></td>
			<td th:text="${portfolio.getProjectIds()}"></td>
			<td><a href="" th:href="${'/portfolio?id=' + portfolio.getId()}"><i
									class="glyphicon glyphicon-pencil"> </i></a></td>
							<td><a href=""
								th:href="${'/portfolio/delete?id=' + portfolio.getId()}"><i
									class="glyphicon glyphicon-trash"> </i></a></td>
		</tr>
	</table></p> 
          </div>
        </div>
        
      </div>
    </div>
  </div>

</div>