<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>ItemDetail</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link th:href="'css/bootstrap.css'" href="../static/css/bootstrap.css" rel="stylesheet" />
	 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   <style>
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 550px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      background-color: #f1f1f1;
      height: 100%;
    }
        
    /* On small screens, set height to 'auto' for the grid */
    @media screen and (max-width: 767px) {
      .row.content {height: auto;} 
    }
  </style>
</head>

<body>
	

<nav class="navbar navbar-inverse visible-xs">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">Guave</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="/">Dashboard</a></li>
        <li class="active"><a href="/project">Projekte</a></li>
        <li><a href="/stakeholder">Stakeholder</a></li>
        <li><a href="/portfolio">Portfolios</a></li>
        <li><a href="/employee">Mitarbeiter</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-3 sidenav hidden-xs">
      <h2>Guave</h2>
      <ul class="nav nav-pills nav-stacked">
        <li><a href="/">Dashboard</a></li>
        <li class="active"><a href="/project">Projekte</a></li>
        <li><a href="/stakeholder">Stakeholder</a></li>
        <li><a href="/portfolio">Portfolios</a></li>
        <li><a href="/employee">Mitarbeiter</a></li>
      </ul><br>
    </div>
    <br>
    
    <div class="col-sm-9">
      <div class="well">
        <h3>Projekt einem Portfolio zuweisen</h3>
        	
        <form action="#" th:action="${postAction}" method="post" th:object="${portfolio_projectsDetail}">
	

		<label>Projekt:</label> 
		<select class="col-sm-9" th:value="${portfolio_projectsDetail}" name="project" id="project" required="required">
             <option disabled="disabled" selected="selected" > Projekt</option>
             <option th:each="project : ${projectlist}" th:value="${project.getId()}" th:text="${project.getName()}" ></option>

                </select>
                <label>Portfolio:</label> 
		<select class="form-control" name="example" id="example">
       <option value="0">ALL</option>
       <option th:each="project : ${allProjects}"
               th:value="${project.id}"
               th:text="${project.name}">
       </option>
   </select>
		
		<input type="submit" />
	
	</form>
	
	<a href="/">Zurück</a>
    
	
	
      </div>
     
    <div class="col-sm-9">
      <div class="well">
        <h3>Zuweisungen</h3>
        <p>
		<table class="table">
	<thead>
		<tr>
			<th>Zuweisungs ID</th>
			<th>Portfolio ID</th>
			<th>Projekt ID</th>
		</tr>
		</thead>
		<tr th:each="portfolio_projects : ${portfolio_projectslist}">
		
			<td th:text="${Portfolio_projects.getId()}">Zeisungsid</td>
			<td th:text="${Portfolio_projects.getPortfolio_id()}">Portfolio ID</td>
			<td th:text="${Portfolio_projects.getProjects_id()}">Projekt ID</td>
			<td><a href="" th:href="${'/portfolio_projects?id=' + Portfolio_projects.getId()}">bearbeiten</a></td>
			<td><a href="" th:href="${'/portfolio_projects/delete?id=' + Portfolio_projects.getId()}">löschen</a></td>

		</tr>
	</table></p> 
	
	
      </div>
        </div>
        
      
    </div>
  </div>
</div>