<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>ItemDetail</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link th:href="'css/bootstrap.css'" href="../static/css/bootstrap.css"
	rel="stylesheet" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>
/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {
	height: 550px
}

/* Set gray background color and 100% height */
.sidenav {
	background-color: #f1f1f1;
	height: 100%;
}

/* On small screens, set height to 'auto' for the grid */
@media screen and (max-width: 767px) {
	.row.content {
		height: auto;
	}
}
</style>
</head>

<body>


	<nav class="navbar navbar-inverse visible-xs">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#myNavbar">
					<span class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Guave</a>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav">
					<li><a href="/">Dashboard</a></li>
					<li class="active"><a href="/project">Projekte</a></li>
					<li><a href="/stakeholder">Stakeholder</a></li>
					<li><a href="/portfolio">Portfolios</a></li>
					<li><a href="/employee">Mitarbeiter</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container-fluid">
		<div class="row content">
			<div class="col-sm-3 sidenav hidden-xs">
				<h2>Guave</h2>
				<ul class="nav nav-pills nav-stacked">
					<li><a href="/"><span class="glyphicon glyphicon-home"></span>
							Dashboard</a></li>
					<li class="active"><a href="/project"><span
							class="glyphicon glyphicon-briefcase"></span> Projekte</a></li>
					<li><a href="/stakeholder"><span
							class="glyphicon glyphicon-eye-open"></span> Stakeholder</a></li>
					<li><a href="/portfolio"><span
							class="glyphicon glyphicon-th"></span> Portfolios</a></li>
					<li><a href="/employee"><span
							class="glyphicon glyphicon-user"></span> Mitarbeiter</a></li>
				</ul>
				<br>
			</div>
			<br>

			<div class="col-sm-9">
				<div class="well">
					<h3>Neues Projekt erfassen</h3>
					<p>
					<form action="#" th:action="${postAction}" method="post"
						th:object="${projectDetail}">

						<input type="hidden" name="projectDetail.id" th:value="*{id}" />
						<div class="form-group">
							<label for="name">Projektname:</label> <input type="text"
								class="form-control" id="name" name="projectDetail.name"
								th:value="*{name}">
						</div>

						<div class="form-check form-check-inline">
							<input class="form-check-input" type="checkbox" id="active"
								name="projectDetail.isActive"
								th:checked="${projectDetail.isActive}"> <label
								class="form-check-label" for="active">Aktiv</label>
						</div>

						<div class="form-group">
							<label for="owner">Auftraggeber:</label> <input type="text"
								class="form-control" id="owner" name="projectDetail.owner"
								th:value="*{owner}">
						</div>

						<div class="form-group">
							<label for="budget">Budget:</label> <input type="number"
								class="form-control" id="budget" name="projectDetail.budget"
								th:value="*{budget}">
						</div>

						<div class="form-group">
							<label for="plannedvalue">Geplanter Wert:</label> <input
								type="number" class="form-control" id="plannedvalue"
								name="projectDetail.plannedvalue" th:value="*{plannedvalue}">
						</div>

						<div class="form-group">
							<label for="actualcosts">Aktuelle Kosten:</label> <input
								type="number" class="form-control" id="actualcosts"
								name="projectDetail.actualcosts" th:value="*{actualcosts}">
						</div>

						<div class="form-group">
							<label for="milestone">Meilensteine nach:</label> <select
								class="form-control" name="projectDetail.milestone"
								th:value="*{milestone}">
								<option th:selected="${projectDetail.milestone} == 'HERMES 5'"
									value="HERMES 5">HERMES 5</option>
								<option th:selected="${projectDetail.milestone} == 'PRINCE'"
									value="PRINCE">PRINCE</option>
								<option th:selected="${projectDetail.milestone} == 'PMBOK'"
									value="PMBOK">PMBOK</option>
								<option th:selected="${projectDetail.milestone} == 'IPMA'"
									value="IPMA">IPMA</option>
							</select>

						</div>

						<div class="form-group">
							<label for="stakeholder">Stakeholder:</label> <select multiple
								class="form-control" name="projectDetail.stakeholderIds[]">
								<option th:each="stakeholder : ${stakeholderList}"
									th:value="${stakeholder.id}"
									th:text="${stakeholder.fullName()}"
									th:selected="${projectDetail.stakeholderIds.contains(stakeholder.id)}"></option>
							</select> <small class="form-text text-muted">CTRL oder Command
								gedrückt halten um mehrere auszuwählen</small>
						</div>

						<div class="form-group">
							<label for="employee">Mitarbeiter:</label> <select multiple
								class="form-control" name="projectDetail.employeeIds[]">
								<option th:each="employee : ${employeeList}"
									th:value="${employee.id}" th:text="${employee.fullName()}"
									th:selected="${projectDetail.employeeIds.contains(employee.id)}"></option>
							</select> <small class="form-text text-muted">CTRL oder Command
								gedrückt halten um mehrere auszuwählen</small>
						</div>

						<div class="form-group">
							<label for="project">Risikoklasse:</label> <select
								class="form-control" name="projectDetail.risk"
								th:value="*{risk}">
								<option th:selected="${projectDetail.risk} == '1'" value="1">Klein</option>
								<option th:selected="${projectDetail.risk} == '2'" value="2">Mittel</option>
								<option th:selected="${projectDetail.risk} == '3'" value="3">Gross</option>
							</select>

							<div class="form-group">
								<label for="milestone">Phase: </label> <select
									class="form-control" name="projectDetail.phaseId"
									th:value="*{phaseId}">
									<option th:each="phase : ${phaseList}" th:value="${phase.id}"
										th:selected="(${projectDetail.phaseId} == ${phase.id})"
										th:text="${phase.toString()}"></option>
								</select>
							</div>



							<div class="form-group">
								<label for="description">Beschreibung:</label>
								<textarea class="form-control" id="description" rows="3"
									name="projectDetail.description" th:text="*{description}"></textarea>
							</div>

							<input type="submit" class='btn btn-success' />
					</form>

					<a class='btn btn-primary' href="/">Zurück</a>


				</div>
			</div>
			<p>
			<div class="row">
				<div class="col-sm-9">
					<div class="well">
						<h3>Projekte</h3>
						<p>
						<table class="table">
							<thead>
								<tr>
									<th>ID</th>
									<th>Name</th>
									<th>Aktiv</th>
									<th>Owner</th>
									<th>Budget</th>
									<th>Planned Value</th>
									<th>Actual Costs</th>
									<th>Milestone</th>
									<th>Stakeholder</th>
									<th>Description</th>
								</tr>
							</thead>
							<tr th:each="project : ${projectList}">
								<td th:text="${project.getId()}">ID</td>
								<td th:text="${project.getName()}">Name</td>
								<td th:text="${project.getIsActive()}">IsActice</td>
								<td th:text="${project.getOwner()}">Owner</td>
								<td th:text="${project.getBudget()}">Budget</td>
								<td
									th:text="'CHF ' + ${#numbers.formatDecimal(project.getActualCosts(), 0, 'DEFAULT', 0, 'DEFAULT')}"
									th:classappend="|${project.getBudget()*0.75 > project.getActualCosts() ? 'text-success' : ''} 
										 ${project.getBudget()*0.75 < project.getActualCosts() ? 'text-warning' : ''} 
										 ${project.getBudget() < project.getActualCosts() ? 'text-danger' : ''}|">
								<td th:text="${project.getActualCosts()}">ActualCosts</td>
								<td th:text="${project.getMilestone()}">Milestone</td>
								<td th:text="${project.getStakeholderIds()}">Stakeholder</td>
								<td th:text="${project.getDescription()}">Description</td>
								<td><a href="" th:href="${'/project?id=' + project.getId()}"><i
									class="glyphicon glyphicon-pencil"> </i></a></td>
							<td><a href=""
								th:href="${'/project/delete?id=' + project.getId()}"><i
									class="glyphicon glyphicon-trash"> </i></a></td>
							</tr>
						</table>




					</div>
				</div>


			</div>
		</div>
	</div>