<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Stakeholder Detail</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link th:href="'css/bootstrap.css'" href="../static/css/bootstrap.css"
	rel="stylesheet" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>
/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {
	height: 550px
}

/* Set gray background color and 100% height */
.sidenav {
	background-color: #f1f1f1;
	height: 100%;
}

/* On small screens, set height to 'auto' for the grid */
@media screen and (max-width: 767px) {
	.row.content {
		height: auto;
	}
}
</style>
</head>

<body>


	<nav class="navbar navbar-inverse visible-xs">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#myNavbar">
					<span class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Guave</a>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav">
					<li><a href="/">Dashboard</a></li>
					<li><a href="/project">Projekte</a></li>
					<li class="active">><a href="/stakeholder">Stakeholder</a></li>
					<li><a href="/portfolio">Portfolios</a></li>
					<li><a href="/employee">Mitarbeiter</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container-fluid">
		<div class="row content">
			<div class="col-sm-3 sidenav hidden-xs">
				<h2>Guave</h2>
				<ul class="nav nav-pills nav-stacked">
					<li><a href="/"><span class="glyphicon glyphicon-home"></span>
							Dashboard</a></li>
					<li><a href="/project"><span
							class="glyphicon glyphicon-briefcase"></span> Projekte</a></li>
					<li class="active"><a href="/stakeholder"><span
							class="glyphicon glyphicon-eye-open"></span> Stakeholder</a></li>
					<li><a href="/portfolio"><span
							class="glyphicon glyphicon-th"></span> Portfolios</a></li>
					<li><a href="/employee"><span
							class="glyphicon glyphicon-user"></span> Mitarbeiter</a></li>
				</ul>
				<br>
			</div>
			<br>

			<div class="col-sm-9">
				<div class="well">
					<h3>Neuen Stakeholder erfassen</h3>
					<p>
					<form action="#" th:action="${postAction}" method="post"
						th:object="${StakeholderDetail}">

						<input type="hidden" name="StakeholderDetail.id" th:value="*{id}" />

						<div class="form-group">
							<label for="stakeholder">Stakeholder:</label> <input type="text"
								class="form-control" id="stakeholder"
								name="StakeholderDetail.stakeholder" th:value="*{stakeholder}">
						</div>

						<div class="form-group">
							<label for="name">Name:</label> <input type="text"
								class="form-control" id="name" name="StakeholderDetail.name"
								th:value="*{name}">
						</div>

						<div class="form-group">
							<label for="vorname">Vorname:</label> <input type="text"
								class="form-control" id="vorname"
								name="StakeholderDetail.vorname" th:value="*{vorname}">
						</div>

						<div class="form-group">
							<label for="email">Mail:</label> <input type="email"
								class="form-control" id="email" name="StakeholderDetail.email"
								th:value="*{email}">
						</div>

						<div class="form-group">
							<label for="stakeholder">Einfluss:</label> <select
								class="form-control" name="StakeholderDetail.einfluss"
								th:value="*{einfluss}">
								<option th:selected="${StakeholderDetail.einfluss} == '1'"
									value="1">Klein</option>
								<option th:selected="${StakeholderDetail.einfluss} == '2'"
									value="2">Mittel</option>
								<option th:selected="${StakeholderDetail.einfluss} == '3'"
									value="3">Gross</option>
							</select>
						</div>

						<div class="form-group">
							<label for="interesse">Interesse:</label> <select
								class="form-control" name="StakeholderDetail.interesse"
								th:value="*{interesse}">
								<option th:selected="${StakeholderDetail.interesse} == '1'"
									value="1">Klein</option>
								<option th:selected="${StakeholderDetail.interesse} == '2'"
									value="2">Mittel</option>
								<option th:selected="${StakeholderDetail.interesse} == '3'"
									value="3">Gross</option>
							</select>
						</div>

						<input type="submit" class='btn btn-success' />

					</form>
					<p></p>

					<a class='btn btn-primary' href="/">Zurück</a>


				</div>

				<div class="row">
					<div class="col-sm-9">
						<div class="well">
							<p>
							<h3>Stakeholder-Liste</h3>
							<table class="table">
								<thead>
									<tr>
										<th>Stakeholder</th>
										<th>Name</th>
										<th>Vorname</th>
										<th>E-Mail</th>
										<th>Einfluss</th>
										<th>Interesse</th>
									</tr>
								</thead>
								<tr th:each="stakeholder : ${stakeholderlist}">

									<td th:text="${stakeholder.getStakeholder()}">99</td>
									<td th:text="${stakeholder.getName()}">Ding 3</td>
									<td th:text="${stakeholder.getVorname()}">Ding 3</td>
									<td th:text="${stakeholder.getEmail()}">Ding 3</td>
									<td th:text="${stakeholder.getEinfluss()}">4</td>
									<td th:text="${stakeholder.getInteresse()}">4</td>
									<td><a href="" th:href="${'/stakeholder?id=' + stakeholder.getId()}"><i
									class="glyphicon glyphicon-pencil"> </i></a></td>
							<td><a href=""
								th:href="${'/stakeholder/delete?id=' + stakeholder.getId()}"><i
									class="glyphicon glyphicon-trash"> </i></a></td>

								</tr>
							</table>
							</p>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>